


.Featured{
    height: 100vh;
}

.Featured--Vertical-Gradient{

    width: inherit;
    height: inherit;

    background: linear-gradient(to top,#111 10%, transparent 90%);
}

.Featured--Horizontal-Gradient{

    width: inherit;
    height: inherit;

    background: linear-gradient(to right,#111 20%, transparent );

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 30px;
    padding-top: 70px;
    padding-bottom: 150px;
}

.Featured--Name{
    font-size: 60px;
    font-weight: bold;
}

.Featured--Info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.Featured--Rated,
.Featured--Year,
.Featured--Seasons{

    display: inline-block;
    margin-right: 10px;
}

.Featured--Rated{
    color: #46d369;
}

.Featured--Description{

    margin-top: 15px;
    font-size: 20px;
    color: #999999;
    max-width: 50%;
}

.Featured--Buttons{
    margin-top: 15px;
}

.Featured--WatchButton,

.Featured--MyListButton {

    display: inline-block;
    padding: 12px 25px;
    margin-right: 25px;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    border-radius: 5px;
    
    opacity: 1;
    transition: all ease 0.2s;
}

.Featured--WatchButton:hover,

.Featured--MyListButton:hover {
    opacity: 0.7;
}

.Featured--WatchButton{

    color: black;
    background-color: white;
}

.Featured--MyListButton {

    color: white;
    background-color: #333;
}

.Featured--Genres{

    margin-top: 15px;
    font-size: 18px;
    color: #999
}

@media (max-width: 760px){

 .Featured--Name {
     font-size: 40px;
 }

  .Featured--Info {
     font-size: 18px;
 }

  .Featured--Description {
      
      font-size: 16px;

      max-width: 100%;
      margin-right: 30px
 }

.Featured--WatchButton,
.Featured--MyListButton {

    font-size: 15px;
}

.Featured--Genres{
    font-size: 14px
}

}