


.Featured{
    height: 100vh;
}

.Featured-Vertical-Gradient{

    width: inherit;
    height: inherit;
    background: linear-gradient(to top,#111 10%, transparent 90%);
}

.Featured-Horizontal-Gradient{

    width: inherit;
    height: inherit;
    background: linear-gradient(to right,#111 20%, transparent );
}