


.Featured{
    height: 100vh;
}

.Featured--Vertical-Gradient{

    width: inherit;
    height: inherit;
    background: linear-gradient(to top,#111 10%, transparent 90%);
}

.Featured--Horizontal-Gradient{

    width: inherit;
    height: inherit;
    background: linear-gradient(to right,#111 20%, transparent );
}

.Featured--Name{
    font-size: 60px;
    font-weight: bold;
}

.Featured--Info{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.Featured--Rated,
.Featured--Year,
.Featured--Seasons{

    display: inline-block;
    margin-right: 10px;
}

.Featured--Rated{
    color: #46d369;
}

.Featured--Description{

    margin-top: 15px;
    font-size: 20px;
    color: #999999;
    max-width: 50%;
}