
.Loading, .Loaded{

    position: fixed;
    z-index: 99;

    background-color: black;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading img {

    width: 700px;
}

.Loaded img {

    width: 100%;
}