
.MovieRow--Item {

    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.MovieRow--Item img {

    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.5s;
}

.MovieRow--Item img:hover {
    transform: scale(1.0);
}